.navigation-container {
    @include xy-cell(6);
    display: flex;
    justify-content: flex-end;
    max-height: 100px;
    .navigation-ul {
        @include xy-grid;
        list-style: none;
        max-width: 560px;
        flex: 1 0 auto;
        .nav-item {
            @include xy-cell(4, $gutters: 0);
            @include slider;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            .nav-item-link {
                @include textShadow;
                text-decoration: none;
                text-transform: lowercase;
                font-size: 2rem;
                font-weight: 800;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                color: $white;
                z-index: 10;
                width: 100%;
                height: 100%;
                span {
                    padding: 10px;
                }
            }
        }
    }
}