.site-header {
    @include xy-grid;
    padding: $header-padding;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: space-between;
    .header-heading-container {
        @include xy-cell(3);
    }

    .header-mplayer-container {
        @include xy-cell(3);
    }

    // navigation-container in navigation.scss
}