// colors
$black: rgb(7, 7, 7);
$white: rgb(255, 255, 255);
$outrageous-orange: rgb(255, 111, 0);
$bodacious-blue: rgb(0, 93, 255);
$radical-red: rgb(255, 0 , 0);
$pow-purple: rgb(238, 0, 246);
$great-green: rgb(148, 246, 99);
$yikes-yellow: rgb(255, 255, 78);
$crazy-cyan: rgb(25, 255, 239);

// fonts
$base-font: 'Open Sans', sans-serif;
$base-font-size: 1rem;

:export {
    outrageousOrange: $outrageous-orange;
    bodaciousBlue: $bodacious-blue;
    radicalRed: $radical-red;
    powPurple: $pow-purple;
    greatGreen: $great-green;
    yikesYellow: $yikes-yellow;
    crazyCyan: $crazy-cyan;
}